<!doctype html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="CRI">
        <title>CRI - Sign in</title>

        <link rel="icon" type="image/png" href="https://s3.cri.epita.fr/cri-intranet/img/logo.png">


        <link rel="stylesheet" href="{{url_for('static', filename='all.css')}}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}" crossorigin="anonymous">

        <script src="{{url_for('static', filename='jquery-3.3.1.slim.min.js')}}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>

    </head>


    <body>
        <header>

            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">
                    <div class="d-inline-block align-top">
                        <svg
   id="_140620_1.0-C"
   data-name="140620#1.0-C"
   version="1.1"
   viewBox="0 0 28.866385 30.000001"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   width="28.866385"
   height="30">
  <defs>
    <style>
      .owl-shape {
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
      }
      .owl-shape:hover {
        filter: brightness(250%);
      }

      .owl-eyes-background {
        fill: #ffffff;
      }
      .owl-global {
        fill: url(#linear-gradient);
      }
      .owl-eyes, .owl-tail {
        fill: #151047;
      }
      .owl-wing-top-left {
        fill: url(#linearGradient904);
      }
      .owl-wing-middle-left {
        fill: url(#linear-gradient-3);
      }
      .owl-wing-bottom-left {
        fill: url(#linear-gradient-4);
      }
      .owl-wing-top-right {
        fill: url(#linear-gradient-5);
      }
      .owl-wing-middle-right {
        fill: url(#linear-gradient-6);
      }
      .owl-wing-bottom-right {
        fill: url(#linear-gradient-7);
      }
      .owl-body-bottom-right {
        fill: url(#linear-gradient-8);
      }
      .owl-body-bottom-left {
        fill: url(#linear-gradient-9);
      }
    </style>
    <linearGradient id="linear-gradient" x1="82.25" y1="54.720001" x2="202.25" y2="251.75" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)">
      <stop offset="0.05" stop-color="#0089d5" />
      <stop offset="0.19" stop-color="#007bd3" />
      <stop offset="0.48" stop-color="#0065d0" />
      <stop offset="0.75" stop-color="#0058ce" />
      <stop offset="1" stop-color="#0053cd" />
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="93.949997" y1="175.28" x2="47.529999" y2="92.589996" gradientUnits="userSpaceOnUse">
      <stop offset="0.05" stop-color="#005bce" stop-opacity="0" />
      <stop offset="0.1" stop-color="#0967d2" stop-opacity="0.1" />
      <stop offset="0.24" stop-color="#1e83da" stop-opacity="0.34" />
      <stop offset="0.37" stop-color="#309be1" stop-opacity="0.54" />
      <stop offset="0.51" stop-color="#3fafe7" stop-opacity="0.7" />
      <stop offset="0.64" stop-color="#4abeeb" stop-opacity="0.83" />
      <stop offset="0.77" stop-color="#52c9ee" stop-opacity="0.93" />
      <stop offset="0.89" stop-color="#57d0f0" stop-opacity="0.98" />
      <stop offset="1" stop-color="#59d2f1" />
    </linearGradient>
    <linearGradient id="linear-gradient-3" x1="70.790001" y1="99.699997" x2="86.379997" y2="258.72" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)">
      <stop offset="0.23" stop-color="#59d2f1" />
      <stop offset="0.27" stop-color="#4fc2ea" stop-opacity="0.95" />
      <stop offset="0.39" stop-color="#3499d9" stop-opacity="0.83" />
      <stop offset="0.5" stop-color="#1f78cc" stop-opacity="0.73" />
      <stop offset="0.6" stop-color="#1060c2" stop-opacity="0.66" />
      <stop offset="0.68" stop-color="#0652bc" stop-opacity="0.62" />
      <stop offset="0.75" stop-color="#034dba" stop-opacity="0.6" />
    </linearGradient>
    <linearGradient id="linear-gradient-4" x1="86.040001" y1="257.98001" x2="98.809998" y2="185.59" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)">
      <stop offset="0.09" stop-color="#151047" />
      <stop offset="0.43" stop-color="#0b2e84" stop-opacity="0.55" />
      <stop offset="0.79" stop-color="#0349b9" stop-opacity="0.15" />
      <stop offset="1" stop-color="#0053cd" stop-opacity="0" />
    </linearGradient>
    <linearGradient id="linear-gradient-5" x1="218.50999" y1="146.87" x2="167.78" y2="77.550003" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)"
      xlink:href="#linear-gradient-2" />
    <linearGradient id="linear-gradient-6" x1="210.89999" y1="186.98" x2="222.13" y2="78.599998" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)"
      xlink:href="#linear-gradient-2" />
    <linearGradient id="linear-gradient-7" x1="161.91" y1="233.37" x2="158.75" y2="231.11" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)">
      <stop offset="0.04" stop-color="#005ace" />
      <stop offset="0.06" stop-color="#005ace" stop-opacity="0.98" />
      <stop offset="0.53" stop-color="#0056cd" stop-opacity="0.46" />
      <stop offset="0.85" stop-color="#0054cd" stop-opacity="0.13" />
      <stop offset="1" stop-color="#0053cd" stop-opacity="0" />
    </linearGradient>
    <linearGradient id="linear-gradient-8" x1="212.88" y1="230.10001" x2="179.25" y2="206.13" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)">
      <stop offset="0.04" stop-color="#151047" />
      <stop offset="0.61" stop-color="#083a9c" stop-opacity="0.37" />
      <stop offset="1" stop-color="#0053cd" stop-opacity="0" />
    </linearGradient>
    <linearGradient id="linear-gradient-9" x1="160.97" y1="276.94" x2="121.38" y2="216" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)">
      <stop offset="0.42" stop-color="#151047" />
      <stop offset="0.54" stop-color="#0e2672" stop-opacity="0.68" />
      <stop offset="0.72" stop-color="#063fa4" stop-opacity="0.31" />
      <stop offset="0.88" stop-color="#024ec2" stop-opacity="0.08" />
      <stop offset="1" stop-color="#0053cd" stop-opacity="0" />
    </linearGradient>
    <linearGradient id="linearGradient904" gradientUnits="userSpaceOnUse" x1="93.949997" y1="175.28" x2="47.529999" y2="92.589996" gradientTransform="matrix(0.13185009,0,0,0.13185009,-4.2538858,-5.5561801)"
      xlink:href="#linear-gradient-2" />
  </defs>
  <rect
     class="owl-eyes-background"
     width="4.5444498"
     height="4.2007318"
     x="12.793291"
     y="12.028498" />
  <ellipse
     class="owl-eyes-background"
     cx="11.828357"
     cy="14.399817"
     rx="2.0100267"
     ry="2.9304121" />
  <path
     class="owl-shape owl-global"
     d="m 27.995327,19.938353 c -0.102843,0.06857 -0.209642,0.131851 -0.319077,0.19382 -0.03824,0.02242 -0.0778,0.04351 -0.117346,0.0646 a 5.507378,5.507378 0 0 1 -0.512897,0.23733 5.0867764,5.0867764 0 0 1 -1.422664,0.355995 c -0.123939,0.0145 -0.247878,0.02374 -0.371817,0.02901 l 0.06856,-0.05142 v 0 0 c 0.08307,-0.06197 0.164812,-0.123939 0.246561,-0.188543 0.08175,-0.06461 0.159537,-0.131851 0.238648,-0.199094 0.07911,-0.06725 0.155583,-0.138443 0.232057,-0.209643 0.07647,-0.0712 0.150309,-0.143716 0.224143,-0.217552 1.615165,-1.623075 2.637002,-3.947592 2.602722,-6.289249 a 8.9354804,8.9354804 0 0 0 -1.305315,-4.6411239 0.1529461,0.1529461 0 0 0 -0.02637,-0.031644 0.13185008,0.13185008 0 0 0 -0.04747,-0.030326 0.1516276,0.1516276 0 0 0 -0.196457,0.093614 c -0.03692,0.1120726 -0.07911,0.2228266 -0.123938,0.3322622 -0.04483,0.1094355 -0.09361,0.2162341 -0.146353,0.3217142 A 5.5548442,5.5548442 0 0 1 26.667592,10.31857 c -0.0646,0.09625 -0.13185,0.189864 -0.200411,0.28084 v 0 c -0.06856,0.09098 -0.139763,0.179316 -0.214916,0.263701 q -0.05274,0.0646 -0.110754,0.13185 c -0.02901,0.03165 -0.05669,0.06197 -0.0857,0.09098 q -0.13185,0.131849 -0.263701,0.253151 A 8.9051549,8.9051549 0 0 0 20.552389,0.0158046 0.16349411,0.16349411 0 0 0 20.334837,0.1740247 c 0,0.23073765 0,0.40873529 0,0.56563687 A 14.15147,14.15147 0 0 1 18.647156,7.2332784 c -0.619695,1.3185008 -0.92295,2.2005781 -0.830654,3.1419876 0.159536,1.1616 1.33564,1.913145 1.32641,3.61533 a 0.34676574,0.34676574 0 0 1 -0.605192,-0.05538 c -0.138442,-1.025792 -1.437166,-4.0240633 -5.368936,-3.29625 -1.137866,0.208323 -2.164978,0.772641 -2.762259,1.67977 a 3.4900718,3.4900718 0 0 0 -0.250515,0.45488 c 0.772642,0.564318 1.235435,1.135228 1.421344,1.675814 0.13185,-0.73836 0.582778,-1.623074 1.487269,-2.083231 a 3.4281023,3.4281023 0 0 1 2.316606,-0.188546 c 1.201153,0.363906 1.764154,1.439804 1.694274,2.232222 -0.06857,1.027112 -1.021838,1.398929 -1.532099,1.360692 -0.766047,-0.04219 -0.948,-0.555087 -1.675813,-0.547176 -0.489165,0 -0.855708,0.328306 -1.111498,0.698805 a 3.8711186,3.8711186 0 0 0 -0.503667,1.095674 4.4262074,4.4262074 0 0 1 -0.493119,-0.96778 q -0.05142,-0.141079 -0.09493,-0.292708 a 3.4452427,3.4452427 0 0 0 -0.0079,0.375773 2.9336645,2.9336645 0 0 0 0.193819,1.019202 c -0.379728,0.263701 -1.251257,0.0646 -1.594068,-0.195138 A 3.5507229,3.5507229 0 0 1 8.8810204,14.673581 q -0.011867,-0.06989 -0.019777,-0.131853 C 9.1895493,9.9902641 4.5932553,11.973289 3.1442227,5.084122 A 0.1595386,0.1595386 0 0 0 2.866019,5.0168785 C 1.6714572,6.7309296 1.2086634,8.8405309 1.3431505,10.780047 c 0.048785,1.077215 0.3850022,2.178163 0.9097656,3.296251 A 9.1978621,9.1978621 0 0 1 0.52304302,12.971394 0.13185008,0.13185008 0 0 0 0.31999389,13.033361 C -0.82842037,17.120717 1.3088695,21.45463 4.8253113,23.242516 l 0.017141,0.0079 c -0.4271947,0.158252 -0.4746607,0.159571 -0.6262882,0.207037 a 7.6393941,7.6393941 0 0 1 -1.0811708,0.251833 0.21755264,0.21755264 0 0 0 -0.1120726,0.263701 0.23073765,0.23073765 0 0 0 0.026369,0.04615 8.7996748,8.7996748 0 0 0 0.8913066,1.006017 c 1.3224563,1.242026 2.4326342,1.721962 3.8328822,2.191347 a 9.3494897,9.3494897 0 0 0 3.6298335,0.294026 0.17667911,0.17667911 0 0 1 -0.0145,0.01846 8.936799,8.936799 0 0 1 -1.4028862,1.431891 0.15690158,0.15690158 0 0 0 0.046148,0.271612 c 7.834531,2.636991 15.822008,-1.812949 18.168939,-9.143813 a 0.13185008,0.13185008 0 0 0 -0.205684,-0.15031 z m -14.158064,6.216731 a 0.87416609,0.87416609 0 0 0 0.04878,-0.552451 0.89130659,0.89130659 0 0 0 -1.069302,-0.65925 0.64606544,0.64606544 0 0 0 -0.117347,0.03956 0.87680308,0.87680308 0 0 1 0.613103,-0.518171 0.88866959,0.88866959 0 0 1 0.527399,1.694275 z m 3.095843,-0.609147 a 0.86889207,0.86889207 0 0 0 0.07119,-0.381046 v 0 a 0.80164853,0.80164853 0 0 0 -0.02374,-0.166132 0.90712862,0.90712862 0 0 0 -0.109435,-0.263699 0.88866959,0.88866959 0 0 0 -0.958551,-0.39555 0.69616846,0.69616846 0 0 0 -0.118664,0.03956 0.88866959,0.88866959 0 1 1 1.5822,0.806924 v 0 a 0.87680308,0.87680308 0 0 1 -0.443014,0.35995 z" />
  <path
     class="owl-shape owl-eyes"
     d="m 13.714645,13.712394 a 0.88075858,0.88075858 0 0 0 -1.147097,-0.255792 c -0.2637,0.171407 -0.420602,0.552454 -0.280841,0.996788 0.139761,0.444335 0.543223,0.717263 0.895263,0.578821 0.395549,-0.154263 0.491801,-0.673753 0.30721,-1.153687 z m -0.428514,0.184589 c -0.05142,0.06724 -0.179316,0.05537 -0.286115,-0.02506 -0.106798,-0.08043 -0.151627,-0.200411 -0.101524,-0.263698 0.0501,-0.06329 0.179316,-0.0567 0.286115,0.02374 0.106797,0.08043 0.152947,0.193817 0.09757,0.265018 z" />
  <path
     class="owl-shape owl-eyes"
     d="m 11.019628,14.66303 c -0.0356,-0.395549 -0.217552,-0.688256 -0.40478,-0.7911 -0.187227,-0.102842 -0.489164,-0.01977 -0.562999,0.403462 l 0.166131,0.101524 c 0.02109,0.433787 0.205686,0.851752 0.458838,0.922953 0.232056,0.05406 0.377092,-0.255791 0.34281,-0.636839 z m -0.28084,-0.449607 c -0.02901,0.03824 -0.101525,0.03165 -0.163494,-0.0145 -0.06197,-0.04615 -0.08702,-0.116029 -0.05801,-0.154264 0.02901,-0.03824 0.102843,-0.03165 0.163494,0.0145 0.06065,0.04615 0.08702,0.11471 0.05801,0.154265 z" />
  <path
     class="owl-shape owl-wing-top-left"
     d="m 11.850284,17.149724 c -0.16745,0.3705 -0.499713,0.7911 -0.599918,1.736465 a 9.4404664,9.4404664 0 0 1 -1.6982289,0.05142 c 0,0 0,0 0,0 -0.1107542,-0.01056 0.035599,0.01056 -0.4219205,-0.04219 A 8.965806,8.965806 0 0 1 5.7324399,17.75096 C 4.5457892,17.053474 3.2905764,15.91429 2.5139793,14.557551 2.4203657,14.399332 2.3333447,14.237156 2.250279,14.072344 1.7228787,12.95821 1.3892981,11.857262 1.3405135,10.776091 1.2086634,8.8299829 1.6688204,6.7216999 2.863382,5.0129228 a 0.1595386,0.1595386 0 0 1 0.2861147,0.058014 c 1.450351,6.8891682 6.0453266,4.9061424 5.7170198,9.4576082 q 0.00791,0.06856 0.019777,0.131849 a 3.5507229,3.5507229 0 0 0 1.3751965,2.283644 c 0.337537,0.270292 1.209065,0.468068 1.588794,0.205686 z" />
  <path
     class="owl-shape owl-wing-middle-left"
     d="m 9.5508184,18.93761 a 8.6150848,8.6150848 0 0 0 1.6995476,-0.04615 5.5785772,5.5785772 0 0 0 -0.02901,0.584097 c 0,1.845902 0.949321,2.66601 1.290813,3.991101 A 8.8339559,8.8339559 0 0 1 10.947108,23.98483 9.2163212,9.2163212 0 0 1 7.4794507,24.11668 8.965806,8.965806 0 0 1 5.5649875,23.589281 C 5.3302972,23.491715 5.0876931,23.380958 4.8371779,23.24911 l -0.019777,-0.0066 C 1.3009585,21.450674 -0.83633137,17.122034 0.31208288,13.034683 a 0.13185008,0.13185008 0 0 1 0.20304914,-0.06197 9.1978621,9.1978621 0 0 0 1.72987308,1.104904 c 0.081747,0.164812 0.1687682,0.326989 0.2637001,0.485208 a 9.097656,9.097656 0 0 0 3.2184608,3.19341 8.7021058,8.7021058 0 0 0 3.3990953,1.149731 c 0.174042,0.01714 0.067243,0.0092 0.4192833,0.03692 z" />
  <path
     class="owl-shape owl-wing-bottom-left"
     d="m 12.634792,24.425211 a 4.7070481,4.7070481 0 0 1 -0.03165,0.501032 5.0656804,5.0656804 0 0 1 -0.564318,1.650763 5.7407529,5.7407529 0 0 1 -0.636837,0.933498 9.3494897,9.3494897 0 0 1 -3.6298322,-0.294026 C 6.3719129,26.74841 5.2670092,26.267157 3.9340047,25.023811 a 8.7996748,8.7996748 0 0 1 -0.8913065,-1.006015 0.23073765,0.23073765 0 0 1 -0.02637,-0.04615 0.21755264,0.21755264 0 0 1 0.1120724,-0.263699 7.6393941,7.6393941 0 0 0 1.0811708,-0.251835 c 0.1516277,-0.04747 0.1990937,-0.04878 0.6262879,-0.207004 0.2346932,0.122619 0.4772973,0.236011 0.7304495,0.338853 a 8.965806,8.965806 0 0 0 1.9144634,0.527402 9.2163212,9.2163212 0 0 0 3.4676578,-0.131852 8.8339559,8.8339559 0 0 0 1.565061,-0.51817 l 0.02769,0.11603 a 3.7181725,3.7181725 0 0 1 0.09361,0.843838 z" />
  <path
     class="owl-shape owl-wing-top-right"
     d="m 25.780247,11.368098 c -0.886034,2.440544 -2.950807,4.689907 -5.884471,5.51397 -0.2637,0.07911 -0.544542,0.145035 -0.824063,0.197776 a 9.2400541,9.2400541 0 0 0 -0.39555,-1.450352 3.0325519,3.0325519 0 0 0 0.170087,-0.263699 2.5644843,2.5644843 0 0 0 0.296662,-1.362011 v 0 c 0.0092,-1.702186 -1.166874,-2.453732 -1.32641,-3.615331 -0.09493,-0.9414096 0.210959,-1.8300792 0.830654,-3.1419877 a 14.15147,14.15147 0 0 0 1.687681,-6.51339423 c 0,-0.1569016 0,-0.33489922 0,-0.56563685 A 0.16349411,0.16349411 0 0 1 20.552389,0.0092121 8.9051549,8.9051549 0 0 1 25.792112,11.332498 Z" />
  <path
     class="owl-shape owl-wing-middle-right"
     d="m 27.56022,9.0198471 a 0.1529461,0.1529461 0 0 0 -0.02636,-0.031644 0.18195312,0.18195312 0 0 0 -0.04747,-0.030325 0.1529461,0.1529461 0 0 0 -0.156903,0.031644 0.1437166,0.1437166 0 0 0 -0.03956,0.061969 c -0.03692,0.1120727 -0.07911,0.2228266 -0.123939,0.3322623 -0.04483,0.1094356 -0.09361,0.2162342 -0.146354,0.3217138 a 5.5548442,5.5548442 0 0 1 -0.350721,0.6104668 c -0.0646,0.09625 -0.131849,0.189864 -0.200412,0.280841 v 0 c -0.06856,0.09098 -0.139761,0.179316 -0.214915,0.2637 q -0.05274,0.0646 -0.110755,0.13185 c -0.02901,0.03165 -0.05669,0.06197 -0.0857,0.09098 -0.08702,0.08966 -0.175359,0.174042 -0.2637,0.254471 -0.0092,0.02769 -0.01845,0.05406 -0.02901,0.08043 a 8.4726865,8.4726865 0 0 1 -1.62571,2.751712 c -0.0132,0.01714 -0.02769,0.03297 -0.04219,0.04879 l -0.01977,0.02109 a 9.1306185,9.1306185 0 0 1 -4.070212,2.610632 v 0 l -0.101525,0.03165 c -0.263698,0.07911 -0.54454,0.145034 -0.824062,0.197776 0.312484,1.582201 0.0857,3.219779 -0.320395,4.467079 a 8.9447098,8.9447098 0 0 1 -0.34413,0.864938 9.4220074,9.4220074 0 0 0 4.852083,-0.485207 c 0.01977,0 0.03824,-0.01583 0.05801,-0.02374 0.01977,-0.0079 0.04483,-0.01714 0.06592,-0.02769 l 0.06592,-0.02636 0.03824,-0.01714 v 0 c 0.200412,-0.08702 0.388957,-0.179317 0.566955,-0.271612 0.09361,-0.04747 0.188546,-0.09889 0.286116,-0.155583 l 0.106799,-0.06065 q 0.102843,-0.05933 0.205684,-0.122621 c 0.08043,-0.0501 0.162177,-0.101524 0.241287,-0.154264 l 0.160856,-0.109435 0.07516,-0.05406 c 0.03956,-0.02636 0.07648,-0.05406 0.113391,-0.08043 v 0 c 0.02373,-0.01582 0.04615,-0.03297 0.06857,-0.0501 v 0 c 0.08307,-0.06065 0.164812,-0.12394 0.246558,-0.189865 0.08175,-0.06592 0.159539,-0.131849 0.23865,-0.199093 0.07911,-0.06724 0.155582,-0.138442 0.232055,-0.209641 0.07648,-0.0712 0.15031,-0.143716 0.224146,-0.217554 1.615164,-1.623073 2.637001,-3.94759 2.602721,-6.289249 A 8.9354804,8.9354804 0 0 0 27.56022,9.0198471 Z" />
  <path
     class="owl-shape owl-wing-bottom-right"
     d="m 17.004304,25.164891 v 0 a 4.5989311,4.5989311 0 0 1 -0.504987,-0.05274 c 0.0211,-0.03033 0.15954,-0.150309 0.371818,-0.382364 a 0.90712862,0.90712862 0 0 1 0.109435,0.263699 0.80164853,0.80164853 0 0 1 0.02374,0.171405 z" />
  <path
     class="owl-shape owl-body-bottom-right"
     d="m 25.250208,20.813838 v 0 a 7.4231599,7.4231599 0 0 1 -0.739678,1.107541 c -0.05801,0.0712 -0.116029,0.139761 -0.175361,0.208323 -0.117348,0.13185 -0.238649,0.263699 -0.361269,0.395551 l -0.143717,0.146354 c -0.04615,0.04615 -0.09361,0.09098 -0.141081,0.131849 a 8.352703,8.352703 0 0 1 -4.021427,2.139927 5.5377036,5.5377036 0 0 1 -0.8623,0.15031 h -0.01188 a 11.310101,11.310101 0 0 1 -1.423979,0.07911 0.88866959,0.88866959 0 0 0 -0.04747,-0.992831 10.555918,10.555918 0 0 0 1.079852,-1.765473 9.0857894,9.0857894 0 0 0 4.85604,-0.491802 c 0.01977,0 0.03824,-0.01582 0.05801,-0.02373 0.01977,-0.0079 0.04483,-0.01714 0.06592,-0.02769 l 0.06592,-0.02769 0.03824,-0.01582 v 0 c 0.162174,-0.06724 0.357313,-0.160856 0.566954,-0.271611 0.09361,-0.04747 0.188545,-0.09889 0.286114,-0.155583 0.0356,-0.01845 0.0712,-0.03956 0.106798,-0.06065 q 0.102844,-0.05933 0.205688,-0.122619 c 0.08043,-0.0501 0.162175,-0.101526 0.241284,-0.154266 l 0.160858,-0.109435 0.07516,-0.05406 c 0.04615,-0.02506 0.08307,-0.05406 0.121302,-0.0857 z" />
  <path
     class="owl-shape owl-body-bottom-left"
     d="m 12.541178,23.582689 a 3.3753621,3.3753621 0 0 1 0.06329,1.343554 5.0656804,5.0656804 0 0 1 -0.564318,1.650763 l -0.06989,0.119982 a 7.4534854,7.4534854 0 0 1 -0.417965,0.626288 c -0.05801,0.07648 -0.108116,0.131853 -0.14899,0.187228 a 7.9795674,7.9795674 0 0 0 3.258016,-1.036342 l 0.15822,-0.08834 q 0.114709,-0.06329 0.233375,-0.131849 a 6.196954,6.196954 0 0 0 0.7911,-0.557726 q 0.05406,-0.04087 0.106799,-0.08702 a 0.29007019,0.29007019 0 0 0 0.04483,-0.03692 c 0.175362,-0.14899 0.344129,-0.303256 0.506304,-0.45752 a 8.8458225,8.8458225 0 0 1 -3.960777,-1.532102 z m 0.771323,0.878123 a 0.88866959,0.88866959 0 0 1 0.527399,1.694272 0.87416609,0.87416609 0 0 0 0.04878,-0.552451 0.89130659,0.89130659 0 0 0 -1.069304,-0.65925 0.64606544,0.64606544 0 0 0 -0.117347,0.03956 0.87680308,0.87680308 0 0 1 0.610466,-0.522126 z" />
  <path
     class="owl-shape owl-tail"
     d="m 28.19442,20.088664 c -2.350886,7.330864 -10.334409,11.786078 -18.168941,9.143802 a 0.15690158,0.15690158 0 0 1 -0.046148,-0.271611 8.936799,8.936799 0 0 0 1.4094777,-1.431892 0.17667911,0.17667911 0 0 0 0.0145,-0.01845 8.6256328,8.6256328 0 0 0 1.311909,-0.251833 9.0752416,9.0752416 0 0 0 1.946107,-0.78451 l 0.15822,-0.08834 a 8.5992629,8.5992629 0 0 0 1.021838,-0.692212 q 0.05406,-0.04087 0.106798,-0.08702 a 0.29007019,0.29007019 0 0 0 0.04483,-0.03692 q 0.263701,-0.213597 0.506305,-0.45752 c 0.166131,0.02109 0.334899,0.03824 0.504986,0.04878 v 0 a 0.86889207,0.86889207 0 0 1 -0.07119,0.381046 0.87680308,0.87680308 0 0 0 0.43774,-0.366543 c 0.0857,0 0.174043,0 0.263702,0 a 9.4167333,9.4167333 0 0 0 1.164235,-0.08439 h 0.01188 a 8.8339559,8.8339559 0 0 0 4.878454,-2.290236 c 0.04747,-0.04483 0.09493,-0.08966 0.141081,-0.131849 l 0.139761,-0.139763 c 0.122621,-0.131849 0.243923,-0.257108 0.36127,-0.395549 0.05933,-0.06857 0.117344,-0.131851 0.175359,-0.208325 a 10.379239,10.379239 0 0 0 0.73968,-1.107539 v 0 c 0.123939,0 0.247878,-0.0145 0.371817,-0.02901 a 5.4058536,5.4058536 0 0 0 1.935559,-0.593324 c 0.03956,-0.0211 0.07911,-0.04219 0.117348,-0.06461 0.109435,-0.06065 0.216233,-0.131849 0.319076,-0.193819 a 0.13185008,0.13185008 0 0 1 0.204368,0.151629 z" />
</svg>

                    </div>
                    CRI intranet
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between align-item-center" id="navbarCollapse">
                    <ul class="navbar-nav text-nowrap">
                        <li class="nav-item">
                            <a class="nav-link" href="https://map.epita.eu" target="_blank">
                                <i class="fas fa-map"></i>
                                <span class="d-md-none d-lg-inline">
                                    Maps
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://doc.cri.epita.fr" target="_blank">
                                <i class="fas fa-question-circle"></i>
                                <span class="d-md-none d-lg-inline">
                                    Documentation
                                </span>
                            </a>
                        </li>

                    </ul>
                    <div class="d-none d-md-flex flex-grow-1 mx-4">

                    </div>
                    <div class="d-flex justify-content-end text-nowrap">

                        <a class="nav-link btn btn-outline-light" href="/auth/login/">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign in
                        </a>

                    </div>
                </div>
            </nav>

        </header>
        <main role="main">
            <div class="container-fluid">

                <div class="row">
                    <div class="col">


                    </div>
                </div>


    <div class="row mb-3">
        <div class="col text-center">
            <img src="https://s3.cri.epita.fr/cri-intranet/img/logo.png" style="width: 20%;"/>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col" style="max-width: 45rem;">
            <div class="card shadow-lg">
                <div class="card-body">


                    <div class="row">
                        <div class="col">
                            <h3 class="card-title text-center">
                                <i class="fas fa-user"></i>
                                Sign in
                            </h3>
                            <hr />
                        </div>
                    </div>

<div class="row">
    <div class="col">

        <form method="POST" class="form">


            <div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">
                Login or email<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="username" maxlength="100" class="textinput textInput form-control" required id="id_username"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField">
                Password<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password"> </div> </div>

            <button class="mt-4 btn btn-lg btn-primary btn-block" type="submit">
                <i class="fas fa-sign-in-alt"></i>
                Sign in
            </button>
            <nav class="nav nav-pills nav-fill mt-2">
                <a href="/auth/login/azuread-oauth2/" class="nav-item btn btn-outline-info mr-2">
                    Sign in with Office 365
                    <sup><small><i class="fas fa-external-link-alt"></i></small></sup>
                </a>
                <a href="/auth/password/recovery/" class="nav-item btn btn-outline-danger">
                    <i class="far fa-life-ring"></i>
                    Password recovery
                </a>
            </nav>
        </form>

    </div>
</div>

                </div>
            </div>
        </div>
    </div>

            </div>
        </main>
        <script type="text/javascript">
            $(function () {
                $('.collapse').collapse()
                $('[data-toggle="tooltip"]').tooltip()
                $('[data-toggle="tab"]').on('click', function (e) {
                    e.preventDefault()
                    $(this).tab('show')
                })
                $('[data-toggle="checkall"]').on('change', function (e) {
                    $(this).closest("table").find('[type="checkbox"]').prop("checked", $(this).is(':checked'))
                })
                $('tr').on('click', function(e) {
                    if (e.target.type !== 'checkbox' && e.target.tagName !== "a" && !e.target.classList.contains('no-tr-check')) {
                        $('[type="checkbox"]', this).trigger('click');
                    }
                });
            })

        </script>


    </body>

</html>
